.container {
  top: 0 ;
  left: 0;
  background-color: var(--background-primary)
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.addValue {
  display: inline;
}

.btn {
  background-color: red;
}